#list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#form input {
  width: 80%;
  padding: 10px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.is-hidden {
  display: none;
}
.load-more {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}
.load-more:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
.load-more:before,
.load-more:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.load-more:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.load-more:hover:before,
.load-more:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: rgba(3, 6, 180, 0.315);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

.myClick {
  text-decoration: line-through;
}

.card {
  background: rgb(9, 11, 43);
  color: white;
  /* padding: 2em; */
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  overflow: hidden;
}

.search {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  /* border-radius: 30px; */
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.searchBar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  background: #0000002b;
  color: white;
  border-bottom: 1px solid white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

.weather {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2em;

  /* border-radius: 30px; */
}

.city {
  margin: 0.4em 0;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: 'Loading...';
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}